body{
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
}
.mainContainer{
    padding-left: 140px;
}

.dropingListClass{
    position: relative ;
}
.dropingList{
    position: absolute;
    
}